// COLORES
$primarioVerde: #91e8c1;
$secundarioVerde: #0a4d417f;
$tercearioVerde: #06563b;
$fontColor: grey;
$colorBlanco: white;

// FONTS
$fontItalic: "Merienda", cursive;
$fontSans: "Open Sans", sans-serif;

// TAMAÑO FONTS
$titulos: 55px;
$subTitulos: 40px;
$parrafos: 22px;

// PADDINGS
$padding20cero: 20px 0px;
$padding0: 0px;